.home {
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    position: relative;
}
.home__background {
    background-color: #8e8e8e;
    background-image: url(/src/assets/bg_1080.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.home__description {
    text-align: left;
}

.home__title {
    font-size: 60px;
    text-shadow: 1px 1px black;
    color: var(--lightBlue);
}

.home__title--primary,
.home__title--secondary {
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
}

@media (max-width: 991px) {  
    section {
      padding: 50px 0;
    }
  
    .home {
      flex-direction: column;
    }
  
  
    .home__title {
      font-size: 45px;
    }
  
    .home__title--primary,
    .home__title--secondary {
      font-size: 35px;
    }
}

@media (max-width: 767px) {
  .home {
    background: rgba(0, 0, 0, 0.5);
  }

  .home__background {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url(/src/assets/bg_responsive.webp);
  }

  section {
    padding: 20px 0;
  }
  
}