.portfolio__section {
    width: 70%;
    height: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__title {
    text-align: start;
    margin: 3rem 0;
    width: 100%;
}
.portfolio__description {
    text-align: start;
    width: 100%;
}

/*   TABS    */
.container__tabs {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 40rem;
    border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
    display: flex;
}
.tabs {
    border: none;
    outline: none;
    padding: .5rem 1rem;
    text-align: center;
    color: rgb(95, 95, 95);
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    border-radius: 2rem;
    margin: 1rem 3rem;
}
.active-tabs{
    background-color: var(--darkBlue);
    color: var(--white);
    font-weight: bold;
    transition: .8s;
}


.content {
    width: 100%;
    height: 100%;
    display: none;
}
.active-content {
    display: block;
}