.portfolio__section {
    max-height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__title {
    text-align: start;
    margin: 3rem 0;
    width: 100%;
}
.portfolio__description {
    text-align: start;
    width: 100%;
}

/*   TABS    */
.container__tabs {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.bloc-tabs {
    display: flex;
}
.tabs {
    border: none;
    outline: none;
    padding: .5rem 1rem;
    text-align: center;
    color: rgb(95, 95, 95);
    cursor: pointer;
    box-sizing: content-box;
    position: relative;
    border-radius: 2rem;
    margin: 3rem 3%;
}
.active-tabs{
    background-color: var(--darkBlue);
    color: var(--white);
    font-weight: bold;
    transition: .8s;
}


.content {
    width: 100%;
    height: 100%;
    display: none;
}
.active-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 890px) {
    .portfolio__section{
        margin: 0 .5rem;
    }
    .portfolio__description {
        text-align: justify;
    }
    .bloc__tabs {
        margin: 2rem 0;
    }
    .tabs {
        margin: 6px;
    }
}