.skills__section {
    width: 70%;
    height: 35rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills__title {
    text-align: start;
    margin: 3rem 0;
}
.skills__description {
    text-align: start;
}
.skills__set {
    border: 1px solid red;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 6rem;
}