.skills__section {
    height: 35rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills__title {
    text-align: start;
    margin: 3rem 0;
}
.skills__description {
    text-align: start;
}
.skills__set {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 6rem;
}

@media (max-width: 890px) {
    .skills__section {
        margin: 0 .5rem;
    }
    .skills__title {
        margin: 1rem 0;
    }
    .skills__set {
        gap: 0rem;
    }
}