.about__section {
    height: 35rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__title {
    text-align: start;
    margin: 3rem 0;
}
.about__body {
    display: flex;
    justify-content: space-between;
}
.about__description {
    text-align: start;
    width: 35%;
}
.about__information {
    width: 35%;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.icons {
    color: var(--darkBlue);
    margin-right: 1.5rem;
}
.about__span {
    font-size: 20px;
    font-weight: lighter;
    text-align: start;
}

.btn-slide {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 46px;
    padding: 0;
    border-radius: 50px;
    background: var(--white);
    border: 2px solid var(--darkBlue);
    transition: .5s;
}
.btn-slide:hover {
    background-color: var(--darkBlue);
}
.btn-slide:hover span.circle {
    left: 100%;
    margin-left: -45px;
    background-color: var(--white);
    color: var(--darkBlue);
}
.btn-slide:hover span.btn__title {
    left: 40px;
    opacity: 0;
}
.btn-slide:hover span.btn__title-hover {
    opacity: 1;
    left: 40px;
}
.btn-slide span.circle {
    display: block;
    background-color: var(--darkBlue);
    color: var(--white);
    position: absolute;
    float: left;
    margin: 3px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}
.btn-slide span.btn__title,
  .btn-slide span.btn__title-hover {
    position: absolute;
    left: 60px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: var(--darkBlue);
    transition: .5s;
}
.btn-slide span.btn__title-hover {
    left: 80px;
    opacity: 0;
}
.btn-slide span.btn__title-hover {
    color: var(--white);
}

@media (max-width: 890px) {
    .about__section{
        margin: 0 .5rem;
        padding: 4rem 0;
        height: 40rem;
    }
    .about__title {
        margin: 1rem 0;
    }
    .about__body {
        flex-direction: column;
        justify-content: space-between;
        height: 32rem;
    }
    .about__description {
        width: 100%;
        text-align: justify;
    }
    .about__information {
        width: 100%;
        height: 15rem;
        align-items: center;
    }

}