.about__section {
    height: 35rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__title {
    text-align: start;
    margin: 3rem 0;
}
.about__body {
    display: flex;
    justify-content: space-between;
}
.about__description {
    text-align: start;
    width: 35%;
}
.about__information {
    width: 35%;
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.icons {
    color: var(--darkBlue);
    margin-right: 1.5rem;
}
.about__span {
    font-size: 20px;
    font-weight: lighter;
    text-align: start;
}
.about__button {
    width: 15rem;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background-color: var(--darkBlue);
    color: var(--lightBlue);
    display: flex;
    justify-content: space-around;
    border-radius: 2rem;
    font-size: 20px;
    font-weight: lighter;
    transition: all 0.5s ease;
}
.about__button:hover {
    cursor: pointer;    
    background-color: var(--white);
    color: var(--darkBlue);
    box-shadow: inset 0 0 0 2px var(--darkBlue);
}
/*.about__button:hover {
    cursor: pointer;    
    filter: brightness(2);
}*/


@media (max-width: 890px) {
    .about__section{
        margin: 6rem .5rem 9rem .5rem;
    }
    .about__body {
        flex-direction: column;
        justify-content: space-between;
    }
    .about__description {
        width: 100%;
    }
    .about__information {
        width: 100%;
        height: 15rem;
        align-items: center;
    }

}