.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}
.is-open {
    display: flex;
}
.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    outline: none;
    color: rgb(165, 165, 165);
    background-color: rgb(243, 243, 243);
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    transition: all 0.3s ease;
}
.modal-close:hover {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    color: rgb(97, 97, 97);
    padding: .5rem;
}
.modal-container {
    position: relative;
    background-color: var(--white);
    padding: 2rem;
    margin: 1rem;
    overflow-y: auto;
    min-width: 280px;
    max-width: 1100px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.modal__title {
    font-size: 30px;
    color: var(--darkBlue);
}
.modal__images {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    gap: 5px;
}
.modal__img {
    height: 18rem;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}
.modal__img:hover {
    flex: 4;
}
.modal__description {
    text-align: justify;
    white-space: initial;
}
.modal__subtitle {
    font-size: 25px;
    font-weight: 400;
    margin: 2rem 0;
}

@media (max-width: 415px) {
    .modal-container {
        min-height: fit-content;
        max-height: 45rem;
    }
    .modal__images {
        height: 11rem;
        display: block;
        flex-wrap: nowrap;
        justify-content: start;
        overflow: auto;
        white-space: nowrap;
    }
    .modal__images::-webkit-scrollbar  {
        -webkit-appearance: none;
    }
    .modal__img {
        height: 10rem;
        width: 18rem;
        display: inline-block;
        text-align: center;
        margin-right: 8px;
        text-decoration: none;
    }
    .modal__description {
        min-height: fit-content;
        max-height: 9rem;
        font-size: 16px;
        overflow: scroll;
    }
}